{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Développeurs de style {% endblock %}

{% block body %}

<!-- //////////////////////// SLIDE PRINCIPALE ////////////////////////// -->
<div class="container-fluid position-relative slide_container px-0">


    <div id="carouselcontroller" class="carousel slide" data-ride="carousel">
        <!-- Les indicateurs de slide -->
        <ol class="carousel-indicators">
            <li data-target="#carouselcontroller" data-slide-to="0" class="active rounded-circle d-xs-none d-block"></li>
            <li data-target="#carouselcontroller" data-slide-to="1" class="rounded-circle d-xs-none d-block"></li>
        </ol>
        <!-- Les slides -->
        <div class="carousel-inner">

            <!-- slide 01 -->
            <div class="carousel-item active">
                <div class="d-flex justify-content-center position-relative">
                    <!-- effet de neige -->
                    <div class="snow"></div>

                    <div class="carousel-caption d-none d-md-block carousel_content">
                        <p class="title_slide noel">Opte pour un look <span class="noel">original</span> pour les fêtes</p>
                        <h5 class="slogan-noel">Notre sélection <span class="slogan_slide noel_span d-block">Spéciale Noël</span></h5>
                        
                        <!-- BTN Découvrir -->
                        <a href="{{ path('promos') }}" class="btn-decouvrir btn-noel rounded-0 mt-4 py-2 px-3">Découvrir ></a>
                    </div>
                    <!-- Shadow -->
                    <div class="container-fluid position-absolute h-100 w-100 shadow_content"></div>
                    <!-- Image du slide -->
                    <img class="d-block slide_visuel" src="{{ asset( 'assets/images/slides/slide_noel.jpg' ) }}" alt="Image du slide Promos">


                    <!-- Version Mobile -->
                    <div class="container text-center position-absolute slogan-title-mobile d-xs-block d-md-none py-5">
                        <h3 class="slogan-noel-mobile text-success">Notre sélection <span class="text-danger d-block">Spéciale Noël</span></h3>
                        <p class="title_slide noel">Opte pour un look <span class="noel">original</span> 
                            <br>pour les fêtes</p>
                        <!-- BTN Découvrir -->
                        <div>
                            <a href="{{ path('promos') }}" class="btn-decouvrir btn-noel btn-block rounded-0 mt-4 py-2 px-3">Découvrir ></a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- slide 02 -->
            <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <div class="carousel-caption d-none d-md-block carousel_content">
                        <p class="title_slide">Développe un <span>style unique</span></p>
                        <h5>Porte un T-shirt <span class="slogan_slide d-block">Original</span></h5>

                        <!-- BTN Découvrir -->
                        <a href="{{ path('mengallery') }}" class="btn-decouvrir rounded-0 mt-4 py-2 px-3">Découvrir ></a>
                    </div>
                    <!-- Shadow -->
                    <div class="container-fluid position-absolute h-100 w-100 shadow_content"></div>
                    <!-- Image du slide -->
                    <img class="d-block slide_visuel" src="{{ asset( 'assets/images/slides/slide_home.jpg' ) }}" alt="Image du slide t-shirt originaux">


                    <!-- Version Mobile -->
                    <div class="container text-center position-absolute slogan-title-mobile d-xs-block d-md-none py-5">
                        <h3>Porte un T-shirt <span class="text-info d-block">Original</span></h3>
                        <p class="title_slide">Développe un <span class>style unique</span></p>
                        <!-- BTN Découvrir -->
                        <a href="{{ path('mengallery') }}" class="btn-decouvrir btn-block rounded-0 mt-4 py-2 px-3">Découvrir ></a>
                    </div>

                </div>
            </div>

        </div>
        <!-- Les controllers -->
        <a class="carousel-control-prev" href="#carouselcontroller" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon prev" aria-hidden="true"></span>
            <div id="triangle-right"></div>
            <span class="sr-only">Précédent</span>
        </a>
        <a class="carousel-control-next" href="#carouselcontroller" role="button" data-slide="next">
            <span class="carousel-control-next-icon next" aria-hidden="true"></span>
            <div id="triangle-left"></div>
            <span class="sr-only">Suivant</span>
        </a>
    </div>

</div>

<!-- //////////////////////// SLOGAN ////////////////////////// -->
<section class="container-fluid baseline_content">
    <div class="container text-center py-5">
        <h1 class="text-regular m-0">
            Les motifs de demain sont <span class="text-bleu">développés</span> aujourd'hui !
        </h1>
        <p>
            Démarque-toi avec des t-shirts aux motifs innovants.
        </p>
    </div>
</section>

<!-- //////////////////////// GALLERIE NOUVEAUTES PRODUITS ////////////////////////// -->
<section class="container-fluid position-relative px-0 pb-3">
    <div class="container text-center pt-5 pb-2 position-relative">

        <div class="row w-100 mx-0 px-0 pb-3 d-flex justify-content-center">
           <!-- Titre -->
            <div class="col-12 pb-2 produit_gallery text-center">                   
                <h2>
                    Les dernières <span class="text-bleu">Nouveautés</span>
                </h2>
            </div>
            <div class="col-12 d-flex justify-content-center">                                    
                <div class="separator_gallery mx-0"></div>
            </div>

        </div>

        <!-- Gallerie -->
        <section class="row mb-4">
            <!-- Produit 01 -->
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 rounded-0 border-0">
                <div class="encart_visuel w-100 position-relative bg-dark d-flex justify-content-center p-0">
                    <a href="{{ path('mengallery') }}" class="produit_link position-relative w-100 d-flex bg-danger align-items-center">
                        <!-- Visuel Produit -->
                        <img class="card-img-top rounded-0 w-100" src="{{ asset('assets/images/motifs/form_idable.png') }}"
                            alt="Image du motif formidable">
                        <div class="overlay bg-danger">
                            <img class="card-img-top rounded-0 w-100" src="{{ asset('assets/images/homme/tshirt_homme_form_idable.png') }}"
                                alt="Image du t-shirt formidable" />
                        </div>
                    </a>
                </div>
                <!-- Infos produit -->
                <div class="card-body">
                    <h3 class="title_produit_gallery">Form idable</h3>
                    <h5 class="price_gallery pt-2">13,00€</h5>
                </div>
            </div>

            <!-- Produit 02 -->
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 rounded-0 border-0">
                <div class="encart_visuel w-100 position-relative bg-dark d-flex justify-content-center p-0">
                    <a href="{{ path('womengallery') }}" class="produit_link position-relative w-100 d-flex bg-success align-items-center">
                        <!-- Visuel Produit -->
                        <img class="card-img-top rounded-0 w-100" src="{{ asset('assets/images/motifs/lorem_et_hardy.png') }}"
                            alt="Image du motif Lorem et Hardy">
                        <div class="overlay bg-success">
                            <img class="card-img-top rounded-0 w-100" src="{{ asset('assets/images/femme/tshirt_femme_lorem_et_hardy.png') }}"
                                alt="Image du t-shirt Lorem et Hardy" />
                        </div>
                    </a>
                </div>
                <!-- Infos produit -->
                <div class="card-body">
                    <h3 class="title_produit_gallery">Lorem et Hardy</h3>
                    <h5 class="price_gallery pt-2">13,00€</h5>
                </div>
            </div>

            <!-- Produit 03 -->
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 rounded-0 border-0">
                <div class="encart_visuel w-100 position-relative bg-dark d-flex justify-content-center p-0">
                    <a href="{{ path('mengallery') }}" class="produit_link position-relative w-100 d-flex bg-warning align-items-center">
                        <!-- Visuel Produit -->
                        <img class="card-img-top rounded-0 w-100" src="{{ asset('assets/images/motifs/game_hover.png') }}"
                            alt="Image du motif Game Hover">
                        <div class="overlay bg-warning">
                            <img class="card-img-top rounded-0 w-100" src="{{ asset('assets/images/homme/tshirt_homme_game_hover.png') }}"
                                alt="Image du t-shirt Game Hover" />
                        </div>
                    </a>
                </div>
                <!-- Infos produit -->
                <div class="card-body">
                    <h3 class="title_produit_gallery">Game Hover</h3>
                    <h5 class="price_gallery pt-2">13,00€</h5>
                </div>
            </div>

            <!-- Produit 04 -->
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 rounded-0 border-0">
                <div class="encart_visuel w-100 position-relative bg-dark d-flex justify-content-center p-0">
                    <a href="{{ path('womengallery') }}" class="produit_link position-relative w-100 d-flex bg-info align-items-center">
                        <!-- Visuel Produit -->
                        <img class="card-img-top rounded-0 w-100" src="{{ asset('assets/images/motifs/toggle.png') }}"
                            alt="Image du motif Toggle toi-même">
                        <div class="overlay bg-info">
                            <img class="card-img-top rounded-0 w-100" src="{{ asset('assets/images/femme/tshirt_femme_toggle.png') }}"
                                alt="Image du t-shirt Toggle toi-même" />
                        </div>
                    </a>
                </div>
                <!-- Infos produit -->
                <div class="card-body">
                    <h3 class="title_produit_gallery">Toggle toi-même</h3>
                    <h5 class="price_gallery pt-2">13,00€</h5>
                </div>
            </div>

        </section>

        <!-- btns  -->
        <div class="row position-absolute btn_motifs d-none d-md-block text-center w-100">
            <a href="{{ path('mengallery') }}" class="btn-decouvrir rounded-0 mt-4 py-2 px-3">
                < Nouveautés Homme </a>
            <a href="{{ path('womengallery') }}" class="btn-decouvrir rounded-0 mt-4 py-2 px-3">
                Nouveautés Femme > </a>
        </div>
        <!-- Version Mobile -->
        <div class="flex-direction-column d-xs-block d-md-none w-100">
            <div class="col-xs-12">
                <a href="{{ path('mengallery') }}" class="btn-decouvrir btn-block rounded-0 py-3">Nouveautés Homme > </a>
            </div>
            <div class="col-xs-12">
                <a href="{{ path('womengallery') }}" class="btn-decouvrir btn-block rounded-0 py-3 mt-2">Nouveautés Femme > </a>
            </div>
        </div>


    </div>
</section>

<!-- //////////////////////// SECTION CONCEPT ////////////////////////// -->

<section class="container-fluid concept_content p-0 position-relative">
    <div class="container pb-2 pt-5">

        <div class="row w-100 mx-0 px-0 pt-5 d-flex justify-content-center justify-content-md-start">
            <!-- Titre -->
            <div class="col-xs-12 col-md-6 px-0 pb-5 produit_gallery text-center text-md-left">
                                    
                <h3>
                    Un concept original
                </h3>
                <h2>
                    Pour des <span class="text-bleu">Styles Originaux</span>
                </h2>
                <div class="col-12 d-flex pt-3 px-0 justify-content-center justify-content-md-start">                                    
                    <div class="separator_gallery mx-0"></div>
                </div>

                <div class="bg-white py-3 px-5">
                    <p class="pt-3">
                        Le concept de <strong>Dev my Shirt</strong> est de proposer des visuels iconographiques qui se basent sur des "jeux de mots" reprenants 
                        les différents langages informatiques d'aujourd'hui, afin de s'en inspirer et de les dériver. Il y a également la possibilité de 
                        proposer une idée, une inspiration à notre équipe de professionnels du Design qui est à votre écoute !
                    </p>
                    <div class="row px-4">
                        <div class="col-xs-12 col-md-4 text-center p-2">
                            <div class="d-flex justify-content-center px-2">
                                <img src="{{ asset('assets/images/home/langage.png') }}" alt="Image du concept langage">
                            </div>
                            <p class="mb-1">
                                Un nouveau
                            </p>
                            <h4 class="text-uppercase text-info py-0">Langage</h4>
                            <div class="col-12 d-flex pt-3 justify-content-center">                                    
                                <div class="separator_gallery mx-0"></div>
                            </div>
                        </div>
    
                        <div class="col-xs-12 col-md-4 text-center p-2">
                            <div class="d-flex justify-content-center px-2">
                                <img src="{{ asset('assets/images/home/idee.png') }}" alt="Image du concept langage">
                            </div>
                            <p class="mb-1">
                                Conception
                            </p>
                            <h4 class="text-uppercase text-info py-0">Graphique</h4>
                            <div class="col-12 d-flex pt-3 justify-content-center">                                    
                                <div class="separator_gallery mx-0"></div>
                            </div>
                        </div>
                        
                        <div class="col-xs-12 col-md-4 text-center p-2">
                            <div class="d-flex justify-content-center px-2">
                                <img src="{{ asset('assets/images/home/style.png') }}" alt="Image du concept langage">
                            </div>
                            <p class="mb-1">
                                Un T-shirt de
                            </p>
                            <h4 class="text-uppercase text-info py-0">Style</h4>
                            <div class="col-12 d-flex pt-3 justify-content-center">                                    
                                <div class="separator_gallery mx-0"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
            <!-- Visuel -->
            <div class="col-xs-12 col-md-6 px-0 justify-content-center justify-content-md-end">
                <div class="col-12 p-0">
                    <img class="rounded-0 w-100" src="{{ asset('assets/images/home/concept-visuel.jpg') }}" alt="Image du concept dev my hirts">
                </div>
                <div class="col-12 p-0 encart-sociaux">
                    <div class="col-xs-12 col-md-6 bg-info">
                        <p class="color_facebook py-2 text-center text-white">
                           <span class="px-2">Retrouvez-nous sur</span> 
                            <a href="https://www.facebook.com/Devmyshirts-592002044553765/" target="_blank">
                                <img class=" icone_sociaux" src="{{ asset( 'assets/images/icones/facebook-blanc.svg' ) }}" alt="Icone de Facebook">
                            </a>
                            <a href="https://www.instagram.com/devmyshirts/?hl=fr" target="_blank">
                                <img class=" icone_sociaux" src="{{ asset( 'assets/images/icones/instagram-blanc.svg' ) }}" alt="Icone de Instagram">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


{% endblock %}
