<footer>

    <!-- NEWSLETTER  -->

    <div class="container-fluid newsletter">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 col-md-6 newsletter-text">Reste informé des <strong>dernières nouveautés </strong> ! </div>
                <div class="col-sm-5  col-md-6 ">
                    <form class="form-inline">
                        <div class="col-sm-9">
                            <input class="form-control mr-sm-2 email" type="email" placeholder="Ton email">
                        </div>
                        <div class="col-sm-3 text-center my-2 my-sm-0">
                            <button class="btn btn-outline-success " type="submit"> Ok </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- FOOTER LINKS -->

    <div class="container footer">
        <div class="row links">
            <div class="col-md-3">
                <span> DEV my Shirts </span>
                <ul>
                    <li><a href="{{ path('about') }}"> A propos de nous </a></li>
                    <li><a href="{{ path('about') }}"> Nos designers </a></li>
                    <li><a href="{{ path('contact') }}"> Contact </a></li>
                    <li><a href="{{ path('contact') }}"> Boîte à idées </a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <span> Services </span>
                <ul>
                    <li><a href="{{ path('infopl') }} "> Modes de livraison </a></li>
                    <li><a href="{{ path('infopl', {'_fragment': 'pay'}) }}"> Modes de paiement </a></li>
                    <li><a href="{{ path('infopl', {'_fragment': 'satisf'}) }}"> Garantie Satisfaction </a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <span> Liens Utiles </span>
                <ul>
                    <li><a href="{{ path('mengallery') }}"> T-Shirts Homme</a></li>
                    <li><a href="{{ path('womengallery') }}"> T-Shirts Femme</a></li>
                    <li><a href="#"> Mon compte </a></li>
                    <li><a href="{{ path('faq') }}"> FAQ </a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <span> Informations Légales </span>
                <ul>
                    <li><a href="{{ path('rgpd') }}"> Protection des données </a></li>
                    <li><a href="{{ path('cgv') }}"> CGV </a></li>
                    <li><a href="{{ path('cgv') }}"> Mentions légales </a></li>
                </ul>
            </div>
        </div>

        <div class="row icons">
            <div class="col-md-12">
                <a href="https://www.facebook.com/Devmyshirts-592002044553765/" target="_blank">
                    <img src="{{ asset( 'assets/images/icones/facebook-gris.svg' ) }}" alt="Facebook" width="40px">
                </a>
                <a href="https://www.instagram.com/devmyshirts/?hl=fr" target="_blank">
                    <img src="{{ asset( 'assets/images/icones/instagram-gris.svg' ) }}" alt="Instagram" width="40px">
                </a>
            </div>
        </div>

        <div class="row copyright">
            <div class="col-md-12">DEV-my-Shirts &copy Tous droits réservés. 2018</div>
        </div>

    </div>


</footer>