{% extends 'base.html.twig' %}

{% block title %}T-shirts {{ controller_name }} | {{ parent() }}{% endblock %}

{% block body %}

<!-- //////////////////////// CONTENU DE LA PAGE ////////////////////////// -->
<section class="container-fluid px-0 produit_gallery pb-3">
    <!-- Bandeau Noel -->
    <section class="row filter_bandeau d-flex justify-content-center align-items-center mx-0">
            <a href="{{ path('promos') }}" class="lead mb-0 promo-slogan d-flex text-center py-3">
                <i class="fas fa-holly-berry px-3 text-success d-flex align-items-center"></i>
                <span class=" text-warning">Profite de notre sélection de produits 
                    <span class="slogan_slide text-uppercase font-weight-bold text-white">Spéciale Noël</span>
                </span>
                <i class="fas fa-holly-berry px-3 text-success d-flex align-items-center"></i>
            </a>
    </section>

    <!-- Titre de la page -->
    <div class="container text-center pt-5 pb-2 position-relative">
        <div class="row mx-0 d-flex justify-content-between">

            <div class="row w-100 mx-0 px-0">

                <!-- Titre -->
                <div class="col-xs-12 col-sm-8 pb-4 px-0">
                    <div class="col-12 pb-2 text-center text-md-left">                   
                        <h2>
                            T-shirts <span class="text-bleu">{{ controller_name }}</span>
                        </h2>
                    </div>
                    <div class="col-xs-12 col-sm-12 d-flex justify-content-center justify-content-sm-start">                                    
                        <div class="separator_gallery mx-0"></div>
                    </div>
                </div>
    
                <!-- controllers -->
                <div class=" col-xs-12 col-sm-4">   
                        <nav aria-label="controller-produit py-0">
                        <ul class="pagination d-flex justify-content-center justify-content-md-end">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo; Précédent</span>
                                    <span class="sr-only">Précédent</span>
                                </a>
                            </li>
                            <li>
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">Suivant &raquo;</span>
                                    <span class="sr-only">Suivant</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div> 

            </div>
            
            <!-- Gallerie -->
            <section class="row mb-4">
                    <!-- Produit 01 -->
                    <div class="card col-12 col-sm-6 col-md-4 col-lg-3 rounded-0 border-0 ">
                        <div class="encart_visuel w-100 position-relative bg-dark d-flex justify-content-center p-0">
                            <a href="{{ path('womensingle') }}" class="produit_link position-relative w-100 d-flex bg-info hidden-visuel align-items-center">
                                <!-- Visuel Produit -->
                                <img class="card-img-top rounded-0 w-100" src="{{ asset('assets/images/motifs/li_bell_ul.png') }}"
                                    alt="Image du motif Li bell ul">
                                <div class="overlay bg-info">
                                    <img class="card-img-top rounded-0 w-100" src="{{ asset('assets/images/femme/tshirt_femme_li_bell_ul.png') }}"
                                        alt="Image du t-shirt Li bell ul" />
                                </div>
                            </a>
                        </div>
                        <!-- Infos produit -->
                        <div class="card-body px-0">
                            <h3 class="title_produit_gallery">Li bell ul</h3>
                            <h5 class="price_gallery pb-2">13,00€</h5>
                        </div>
                    </div>
    
                    <!-- Produit 02 -->
                    <div class="card col-12 col-sm-6 col-md-4 col-lg-3 rounded-0 border-0 ">
                        <div class="encart_visuel w-100 position-relative bg-dark d-flex justify-content-center p-0">
                            <a href="{{ path('womensingle') }}" class="produit_link position-relative w-100 d-flex bg-warning hidden-visuel align-items-center">
                                <!-- Visuel Produit -->
                                <img class="card-img-top rounded-0 w-100" src="{{ asset('assets/images/motifs/lorem_et_hardy.png') }}"
                                    alt="Image du motif Lorem et Hardy">
                                <div class="overlay bg-warning">
                                    <img class="card-img-top rounded-0 w-100" src="{{ asset('assets/images/femme/tshirt_femme_lorem_et_hardy.png') }}"
                                        alt="Image du t-shirt Lorem et Hardy" />
                                </div>
                            </a>
                        </div>
                        <!-- Infos produit -->
                        <div class="card-body px-0">
                            <h3 class="title_produit_gallery">Lorem et Hardy</h3>
                            <h5 class="price_gallery pb-2">13,00€</h5>
                        </div>
                    </div>
    
                </section>
    
                <!-- controllers -->
                <div class="container d-flex justify-content-end">
                   <!-- controllers -->
                    <div class=" col-xs-12 col-sm-4">   
                        <nav aria-label="controller-produit py-0">
                            <ul class="pagination d-flex justify-content-center justify-content-md-end">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo; Précédent</span>
                                        <span class="sr-only">Précédent</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">Suivant &raquo;</span>
                                        <span class="sr-only">Suivant</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div> 
                </div>
            
        </div>
    </div>

</section>


{% endblock %}